

html {
  font-size: 100%;
  @include advancedtype();
}

body {
  background: $base-background;
  color: $base-color;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: $base-font-weight;
}