// Objects Forms
// ------------------------------------------------------------


.form-group {
  margin: 0 0 rhythm(2, $base-font-size) 0;
  @include pie-clearfix();
}

.field {
  border: 1px solid $grey-light;
  display: block;
  height: ($gutter * 3);
  padding: ($gutter / 2) $gutter;
}

textarea.field {
  height: auto;
}

.checkbox {

  label {
    font-weight: $base-font-weight;
  }

}

.form-standard {

  .field {
    width: 100%;
  }

}

.form-horizontal {

  label {

    @include respond-to($bp-med, $IE9: false) {
      padding-top: ($gutter / 2);
      text-align: right;
    }

  }

}