
// Rows contain the columns and hold them all in place
.row {
  @extend .pie-clearfix;
  margin-bottom: rhythm(1, $base-font-size);

  // Nested rows need to have the columns gutters removed to allow seamless nesting
  .row {
    margin-left: (-$gutter);
    margin-right: (-$gutter);
  }

}

// Base col system css selector
[class^="col-"] {
  padding: 0 $gutter;
  position: relative;
  width: 100%;

  @include respond-to($bp-small, $IE9: false) {
    float : left;
    &.rev {
      float : right;
    }
  }

}

a[class^="col-"] {
  display: block;
  line-height: 0;
}

// Build the grid system based on the defined breakpoint list
@each $prefix, $size in $bp-grids  {

  @include respond-to($size, $IE9: false) {

    @include grid ($prefix)

  }

}

// Build the push system based on the defined breakpoint list
@each $prefix, $size in $bp-grids  {

  @include respond-to($size, $IE9: false) {

    @include push ($prefix)

  }

}

// Build the pull system based on the defined breakpoint list
@each $prefix, $size in $bp-grids  {

  @include respond-to($size, $IE9: false) {

    @include pull ($prefix)

  }

}



// Build the content containers and the breakpoints
.container {
  @extend .pie-clearfix;
  margin: 0 auto;
  position: relative;
  width: 90%;

  @each $prefix, $size in $bp-grids  {

    @if $size != $bp-max {
      @include respond-to($size, $IE9: false) {

        min-width: em-font($size);
      }

    }
  }

  max-width: em-font($bp-max);

}

