// Rows contain the columns and hold them all in place
.row {
  @extend .pie-clearfix;
  margin-bottom: rhythm(1, $base-font-size);

  // Nested rows need to have the columns gutters removed to allow seamless nesting
  .row {
    margin-left: (-$gutter);
    margin-right: (-$gutter);
  }

}

.column-full {
  padding: 0 $gutter;
  position: relative;
  width: 100%;

  @include respond-to($bp-small, $IE9: false) {
    float: left;
    &.rev {
      float: right;
    }
  }

}


// Base col system css selector
[class^="col-"] {
  @extend .column-full;
}


a[class^="col-"] {
  display: block;
  line-height: 0;
}

// Build the grid system based on the defined breakpoint list
@each $prefix, $size in $bp-grids {

  @include respond-to($size, $IE9: false) {

    @include grid($prefix)

  }

}

// Build the push system based on the defined breakpoint list
@each $prefix, $size in $bp-grids {

  @include respond-to($size, $IE9: false) {

    @include push($prefix)

  }

}

// Build the pull system based on the defined breakpoint list
@each $prefix, $size in $bp-grids {

  @include respond-to($size, $IE9: false) {

    @include pull($prefix)

  }

}

// Global Page Wrapper
.wrapper {
  @extend .pie-clearfix;
  background: $white;
  position: relative;
}

// Build the content containers and the breakpoints
.container {
  @include container($container);

  @each $prefix, $size in $bp-grids {

    @if $size != $bp-max {
      @include respond-to($size, $IE9: false) {

        min-width: em-font($size);
      }

    }
  }

  max-width: em-font($bp-max);

}

// Build the content containers which is full width
.container-full {
  @include container(100%);
}

// column helper classes
.col-third {
  @include respond-to($bp-med, $IE9: false) {

    width: column-calc(($column-count / 3));
  }
}

// centre helper to centre column in element or on page
.center-col {
  float: none;
  margin-left: auto;
  margin-right: auto;
}