// SET UP YOUR GLOBAL VARIABLES IN THIS FILE

// Fonts
// ------------------------------------------------------------

// Fonts size and line height defaults for our calculations

$base-font-size								: 16px; 				// Sets the browser default size. Shouldn't need to change this.
$base-font-weight                           : 300;
$base-font-bold-weight                      : bold;
$base-line-height							: 6px;					// Baseline grid. Set to a sensible, small size.
$base-font-family                           : Helvetica, Arial, "Lucida Grande", sans-serif;
$round-to-nearest-half-line					: false;  				// Round the line height to the nearest half line height. Off by default
$rhythm-unit                                : "rem";


// Grids, columns and
// ------------------------------------------------------------

$container                                  : 90%;
$column-count								: 12;
$gutter 									: 12px;


// Breakpoints
// ------------------------------------------------------------

// Start with the small screen first, then expand until it looks like shit. Time for a breakpoint! -Stephen Hay

$bp-small 									: 480px;
$bp-med										: 800px;
$bp-large									: 1000px;
$bp-xl										: 1180px;
$bp-max                                     : $bp-xl;

// The grids we want to use and at what breakpoints
$bp-grids : (
    "sm-"   : $bp-small,
    "m-"    : $bp-med,
    "l-"    : $bp-large,
    "xl-"   : $bp-xl
);
