// SET UP YOUR GLOBAL SPRITE SHEETS IN THIS FILE

// Master
// ------------------------------------------------------------

$sprite-master                  : '../img/master-sprite-sheet.svg';
$sprite-master-png              : '../img/master-sprite-sheet.png';
$sprite-height                  : 500px;
$sprite-width                   : 500px;

// Sprite sheet componets

$ident-width-small              : 80px;
$ident-height-small             : 60px;

$ident-width-large              : 160px;
$ident-height-large             : 120px;