// Elements Forms
// ------------------------------------------------------------

button,
input,
optgroup,
select,
textarea {
  background: $white;
  color: inherit;
  font: inherit;
  margin: 0;
  @include border-radius(0);

}

fieldset {
  border: 1px solid $grey-light;
  margin: 0 0 rhythm(2, $base-font-size) 0;
  padding: ($gutter * 2);
}

label {
  display: inline-block;
  font-weight: $base-font-bold-weight;
  max-width: 100%;

  @include adjust-font-size-to($base-font-size);
}

select[multiple], select[size] {
  height: auto;
}


button {
  -webkit-appearance: none;
}