// Elements Links
// ------------------------------------------------------------

a {
  color: $link-normal;

  &:hover {
      color: $link-hover;
  }

  &:visited {
    color: $link-visited;
  }

}